@import url('reset.css');

html, body{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.error__message{
    color: red;
}


/* HEADER */

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(219, 219, 219, 0.712);
    border-bottom: 2px solid rgba(172, 172, 172, 0.712);
}

.logo__link{
    font-weight: bold;
    font-size: 2rem;
    color: grey;
}

.nav__link, .icon__member{
    color: rgb(99, 99, 99);
}

.search__field{
    width: 40%;
}
.search__input{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
}
.search__input:focus{
    outline: none;
}

.nav__dropDown{
    position: relative;
}
.nav__dropDown:hover{
    cursor: pointer;
}

.member__dropdown{
    display: flex;
    gap: 0.5rem;
}

.member__drop__link{
    display: none;
}

.member__drop__link__active{
    display: initial;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    background-color: rgb(142, 142, 189);
    border: 1px solid grey;
    box-shadow: 2px 5px 3px 4px rgba(48, 69, 100, 0.349);
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.drop__link{
    color: rgb(255, 255, 255);
}

/* MODAL */

.signIn{
    display: none;
}
.signIn__active{
    display: initial;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.452);
    z-index: 1000;
}

.signIn__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-top: 50px;
    border-radius: 0.5rem;
}

.signIn__title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    color: grey;
}

.signIn__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
}

.signIn__field{
    width: 100%;
}


/* MAIN */

.main{
    display: flex;
    gap: 2rem;
    margin: 0 3rem;
}

/* SIDE PANEL */

.filter__nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 33%;
    padding: 1rem;
}

.side__dropdown{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side__title{
    color: rgb(24, 24, 24);
    font-size: 1.2rem;
    font-weight: bold;
}

.dropDown{
    position: relative;
    width: 100%;
}

.side__dropdown__btn{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    padding-left: 1rem;
    border-radius: 0.25rem;
}
.side__dropdown__btn:hover{
    cursor: pointer;
}

.chevron__box{
    background-color: rgb(190, 190, 190);
    padding: 0.5rem 0.25rem;
}

.side__dropdown__link{
    display: none;
}
.side__dropdown__link__active{
    position: absolute;
    display: initial;
}

.chevron{transition: all 0.5s;}

/* MAIN PANEL */

.section__main{
    width: 66%;
    min-height: 75vh;
    margin-top: 2rem;
    margin-right: 1rem;
}

.sort__dropdown{
    width: 50%;
}

.sort__dropdown__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    padding-left: 1rem;
    border-radius: 0.25rem;
}
.sort__dropdown__btn:hover{
    cursor: pointer;
}

.card{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    height: 200px;
}

.picture__box{
    width: 25%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.picture{
    width: 100%;
}

.details{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
}

.details__title{
    font-size: 1.2rem;
    color: rgb(41, 100, 156);
}

.details__text, .seller{
    color: black;
}

.seller__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{font-weight: 600; color: black;}

.see__more{
    width: 100%;
    text-align: center;
    color: rgb(41, 100, 156);
    font-size: 1.1rem;
}


/* PAGE PROFIL */
.profile__info{
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.profile__title{
    font-size: 1.5rem;
    font-weight: 500;
}

.profile__segment{
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid grey;
    padding-top: 2rem;
}


/* PAGE DEPOT ANNONCE */
.main__depot{
    display: flex;
    gap: 2rem;
}

.announce__deposit__main{
    width: 100%;
    min-height: 75vh;
    background-color: rgb(142, 142, 189);
    padding: 0 2rem;
}

.title__h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.announce__deposit{
    height: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.deposit__fields__block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.deposit__form{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5rem;
}

.deposit__field{
    display: flex;
    justify-content: space-between;
}

.deposit__input{
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
}

.picture__select{
    width: 20%;
}

.deposit__btn{
    padding: 0.25rem;
}


/* PAGE DETAILS ANNONCE */
.details__announce{
    margin-top: 2rem;
    min-height: 75vh;
}

.details__head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.announce__details__title{
    font-size: 2rem;
    font-weight: bold;
}

.photo__text{
    display: flex;
    gap: 1rem;
}

.photo{
    width: 50%;
}

.photo__box{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo__big{
    max-width: 100%;
    max-height: 100%;
}

.photo__small{
    width: 20%;
}

.text{
    width: 50%;
}

.description__title{
    font-weight: 600;
}

.infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}


/* FOOTER */

.foot{
    height: 100px;
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}

.foot__link{
    color: rgb(65, 65, 65);
}




/* BACKOFFICE */

/* HEADER */
.back__nav{
    position: fixed;
    width: 15vw;
    height: 100vh;
    padding: 2rem 1rem;
    background-color: rgb(53, 53, 53);
}

.back__link{
    font-size: 1.25rem;
    color: white;
}

.dash__link{
    height: 40px;
    border-bottom: 1px solid white;
}

.back__menu{
    height: 100px;
    border-bottom: 1px solid white;
    margin-top: 1rem;
}

.back__out__menu{
    margin-top: 1rem;
}

.active__link{
    color: rgb(67, 67, 197);
}

/* Main */
.back__main{
    margin-left: calc(15vw + 2rem);
    padding: 2rem;
}

.user__title{
    font-size: 1.5rem;
    font-weight: 600;
}

.user__table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.user__table__title{
    border: 1px solid black;
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.user__table__cell, .announce__sum__cell{
    max-width: 20%;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

.announce__sum__cell, .photo__sum{
    height: 100px;
}

.sum__cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details__display{
    padding-top: 2rem;
}

.details__cell{
    padding: 1rem;
}

.details__picture{
    height: 150px;
    padding: 0.5rem;
}

.separate{
    padding: 0.25rem;
}

.foot__text{
    text-align: center;
}